<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Float Concept</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header></header>
    <aside></aside>
    <article>
        <section class="section-a">A</section>
        <section class="section-b">B</section>
        <section class="section-c">C</section>
    </article>
    <footer></footer>
</body>
</html>